html,
body,
div,
span {
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  box-sizing: border-box;
}


body {
  background: url("https://www.bootdey.com/img/bgy.png") no-repeat fixed center;
  background-size: cover;
}

.row{
padding-top: 10%;
height: 80%;

padding-left: 10%;

}

/* .list-group-item{
  background-color: white;
  
} */

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}

.circular-image {
  border-radius: 50%;
  margin-right: 10px;
}

.messegerName {
  flex: 1;
}

.badge {
  margin-left: 10px;
}
.messegerName{
padding-left: 3%;
padding-right: 55%;

}
.badge{
  width: 50%;
  line-height: 150%;
  padding: 0%
  
  
}

.col-9{
background-color: #f6eac9;
}

.col-3{
padding: 0%;
/* height: 80%; */
 background-color: whitesmoke;

}
.topBar{
  margin-left: 90%;
  margin: 0;
  background-color: whitesmoke;
height: 10%;
margin-bottom: 1%;

}
.bottomBar{
 
  margin-top: 230px;
  background-color: transparent;
height: 10%;
float: bottom;

}

#openChat{
  padding-right: 50%;


}

.text-box{
  width: 85%;
  
}
#chatPic{
  width: 30px;
margin-top: 7px;

}

.receiver {
  width: auto !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  word-wrap: break-word;
  display: inline-block;
}

.sender {
  float: right;
  width: auto !important;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  display: inline-block;
  word-wrap: break-word;
}

.message-body {
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
  height: auto;
}

.message-main-receiver {
  /*padding: 10px 20px;*/
  max-width: 60%;
}

.message-main-sender {
  padding: 3px 20px !important;
  margin-left: 40% !important;
  max-width: 60%;
}

.message-text {
  margin: 0 !important;
  padding: 5px !important;
  word-wrap:break-word;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 0 !important;
}